# Official ENX workbooks — DO NOT COMMIT (ENX-licensed, proprietary)
# Download from: https://www.vda.de/de/themen/sicherheit-und-standards/informationssicherheit/information-security-assessment
vda_isa_6_en_official.xlsx
vda_isa_6_de_official.xlsx
